<h2> Create a new vendorsweet: </h2>
<%= form_for @vendorsweet do |f| %>
  <%= f.collection_select :vendor_id, Vendor.all, :id, :name   %>
  <%= f.collection_select :sweet_id, Sweet.all, :id, :name   %>
  <%= f.label "Price" %>
  <%= f.text_field  :price %>
  <%= f.submit %>

  <% end %>
