<h1> Add a Vendor / Sweet Connection </h1>
<%= form_for @vendor_sweet do |f| %>
<% if @vendor_sweet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@vendor_sweet.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @vendor_sweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.collection_select :vendor_id, @vendors, :id, :name %>
<%= f.collection_select :sweet_id, @sweets, :id, :name %>
<%= f.label :price %>
<%= f.text_field :price %>
<%= f.submit %>
<%end%>

<br>
<br>

<%= link_to "Sweets", sweets_path%> |
<%= link_to "Vendors", vendors_path%>
