<h1>Sweet Name: <%=@sweet.name%></h1>
<a href="<%=sweets_path%>"><img src="https://images-na.ssl-images-amazon.com/images/I/51c0I9DCBpL._SX425_.jpg" height="200" width="200"></a>
<h2> Vendors that sell this sweet </h2>
----------------------------<br>
<% @vendors.each do |vendor|%>
    <%= link_to vendor.name, vendor_path(vendor)%> <br>
<%end %>
----------------------------<br>
<br><br>

<%= link_to "Back to all sweets", sweets_path%><br>
<%= link_to "View all vendors", vendors_path%>